In [34]:
                                               #ASSIGNMET 1                                                 Date:5/07/2023
#Get the number frome the input                                                                             Wednesday
n=input("enter the number")
print(n)
print(type(n))

#Test@gmail.com
a="test@gmail.com"
b=a[0:4]
c=a[5:10]
print(b)
print(c)




#a=[hi,hello,wellcome] Print The Last Ltr in the last word
d=["hi","hello","welcome"]
x=d[0]
y=d[1]
z=d[2]
l=[x[1],y[4],z[6]]
print(l)
print(l[0],l[1],l[2])

enter the number6
6
<class 'str'>
test
gmail
['i', 'o', 'e']
i o e

In [ ]:
a=["Hi","Hello","Welcome"]
print(a[0])

In [12]:
a={1,23,3,4,5,6,7,7,8,9,9,9}
print(a)
print(type(a))
print(isinstance(a,set))

{1, 3, 4, 5, 6, 7, 8, 9, 23}
<class 'set'>
True

In [14]:
print(min(a))
print(max(a))
print(sorted(a))#this has the nature covverts lists

1
23
[1, 3, 4, 5, 6, 7, 8, 9, 23]

In [29]:
a={1,2,3}
b={7,6,5,4,4,3}

In [30]:
print(a.union(b))
print(a.difference(b))
print(a.intersection(b))
print(a.difference(a))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{3}
set()

In [31]:
print(a.issuperset(b))
print(b.issuperset(a))

False
False

In [32]:
print(a.issubset(a))
print(b.issubset(a))

True
False

In [86]:
#dict
a={"name":"vasanth","age":"23","location":"chennai"}
print(a)

{'name': 'vasanth', 'age': '23', 'location': 'chennai'}

In [35]:
print(sorted(a))

['age:23', 'location:chennai', 'name:vasanth']

In [50]:
print(min(a))
print(max(a))
print(len(a))

age
name
3

NameError: name 'upper' is not defined

In [59]:
#getting the value from the dictaionary
print(a["age"])
print(a.get("value","key"))
print(a["location"])
print(a["name"])
print(a.get("type","Student"))
print(a)

23
key
chennai
vasanth
Student
{'name': 'vasanth', 'age': '23', 'location': 'chennai'}

In [77]:
#insert the key value in the dictionary 
a["test"]="value"
print(a)
#rename the keyword
a["name"]="kiran"
print(a)

{'name': 'vasanth', 'age': '23', 'location': 'chennai', 'test': 'value'}
{'name': 'kiran', 'age': '23', 'location': 'chennai', 'test': 'value'}

In [72]:
print(type(a))
print(isinstance(a,dict))

<class 'dict'>
True

In [85]:
a.popitem()
print(a)

{'name': 'vasanth', 'age': '23'}

In [55]:
#very importtent in dictionary 
print(a.values())
print(a.items())
print(a.keys())
print()

AttributeError: 'str' object has no attribute 'values'

In [90]:
                                              #assignment 3
#create a list with duplicates and remve the dulicates and make it a tuple 
#get user input and check its a alhbet or not
#get the vale from the dict and sort it.

In [38]:
l1=[1,2,3,4,4,5,6,66,66,6,6]
s=tuple(set(l1))

TypeError: 'tuple' object is not callable

TypeError: 'tuple' object is not callable

In [33]:
##operators                                                                                             #date=07/07/23
a=5                                                                                                     #Friday
b=4
print("---------------------------------------------------------------")
print("Arithmetic Operators")
print("""------------------------------------------------------------""")
print(a+b)#add
print(a-b)#sub
print(a*b)#multiplicaation
print(a/b)#normal divison
print(a%b)#givs the remainder
print(a**b)##exponentiation
print(a//b)#floor division gives the Quotient
print("""-----------------------------------------------------------""")

print("Relational Operators")##Relational  operators
print("""-----------------------------------------------------------""")

print(a==b)
print(a!=b)
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)

print("---------------------------------------------------")
print("logical operators")
print("---------------------------------------------------")
print(True and True)
print(False and True)
print(True or True)
print(True or True)
print(not True)
print(not False)

---------------------------------------------------------------
Arithmetic Operators
------------------------------------------------------------
9
1
20
1.25
1
625
1
-----------------------------------------------------------
Relational Operators
-----------------------------------------------------------
False
True
False
False
True
True
---------------------------------------------------
logical operators
---------------------------------------------------
True
False
True
True
False
True

In [54]:
l1=["vasanth","kumar","vishnu",]
l2=["kumar","kishore","tarun","vasanth"]
l3=set(l1).intersection(set(l2))
list(l3)

['vasanth', 'kumar']

In [63]:
a="vivekkanth@gmail.com"
x=a.split("@")

name=x[0]
print(a)
y=x[1]
print(y)
y=y.split(".")
gmail=y[0]
print(name)
print(gmail)

vivekkanth@gmail.com
gmail.com
vivekkanth
gmail